@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
.padre_cont{
    font-family: 'Poppins', sans-serif;

    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.content{
    display: grid;

    width: 90%;
    height: 90%;
    grid-template-columns:  repeat(3, 1fr) 0.5fr repeat(3, 1fr) 0.5fr repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) 0.5fr repeat(4, 1fr) 0.5fr repeat(2, 1fr);
}

.imagen{
    background-image: url(img.jpg);
    background-size: 100% 125%;   
    grid-column: 2/7;
    grid-row: 3/9;
    background-repeat:no-repeat;
    transition: ease-out 1s;
    opacity: 0.6;
    
}



.imagen:hover{ 
    transform: scale(1.15);
    opacity: 1;
    
}

.block{
    background-color: rgb(0, 110, 255);
    grid-column: 5/10;
    grid-row: 4/8;
    z-index: 5;
}

.title{
    color: white;
    margin-top: 3vh;
    margin-left: 3vh;
    font-size: 5vh;
}
.lorem{
    color: white;
    font-size: 2.5vh;
    margin-top: 1vh;
    margin-left: 3vh;
}

.boton{
    width: 25vh;
    height: 6vh;
    margin-top: 2vh;
    margin-left: 3vh;
    font-size: 2vh;
    font-family: 'Poppins', sans-serif;
    border-style: none;
    background-color: white;
    color: rgb(0, 110, 255);
    transition: ease 1s;
}

button:hover{
    transform: scale(1.05);
    cursor: pointer;
}


.button:hover .active{
    width: max-content;
}
@media (max-width: 1225px) {

    .imagen{
        transform: scaleX(1);
 
    }
    .block{
        transform: scaleY(1.1);

    }

    .title{
        margin-top: 2vh;
        margin-left: 2vh;
        font-size: 4vh;
    }
    .lorem{
        font-size: 2vh;
        margin-top: 2vh;
        margin-left: 2vh;
    }
    
    .boton{
        width: 25vh;
        height: 10vh;
        margin-top: 3vh;
        margin-left: 2vh;
        font-size: 3vh;
    }
  }



@media (max-width: 925px) {

    .content {
        overflow: scroll;
    }

    .imagen{
        transform: scale(1);
        grid-column: 2/10;
        grid-row: 2/6;
        opacity: 1;
    }
    .imagen:hover{
        transform: scale(1);
    }
    .block{
        transform: scale(1);
        grid-column: 2/10;
        grid-row: 6/10
    }

    .title{
        text-align: center;
        margin-top: 1vh;
        margin-left: 1vh;
        font-size: 3vh;
    }
    .lorem{
        font-size: 1.5vh;
        margin-top: 0.5vh;
        margin-left: 1vh;
    }
    
    .boton{
        width: 20vh;
        height: 6vh;
        margin-top: 15%;
        margin-left: 25%;
        font-size: 2vh;
        
        
        
        
      
    }
  }